<header aria-label="Cabecera principal">
    <div class="navbar container">
        <div class="logo">
            <a href="index.html">
                <img src="./assets/logo_1.png" alt="OPV Drywall - Instalación y Acabado Profesional">
            </a>
        </div>

        <nav aria-label="Menú principal">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="nuestrosProgramas.html">Nuestros Programas</a></li>
                <li><a href="acercaDe.html">Acerca de nosotros</a></li>
                <li><a href="porqueOPV.html">Por qué OPV Drywall</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="testimonios.html">Testimonios</a></li>
                <li><a href="formRegistro.html">Registro</a></li>
                <li><a href="preguntasFrecuentes.html">Preguntas frecuentes</a></li>
                <li><a href="terminosYcondiciones.html">Términos y Condiciones</a></li>
                <li><a href="contactenos.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>